---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Acerca de.">
    <h1>Acerca del proyecto xdd</h1>
    <p>Pues esto es parte de un trabajo  para la materia de programacion para internet </p>
</Layout>
